.main-container {
    background-color: whitesmoke;
    border: none;
    border-radius: 5rem;
    width: 30%;
    margin: auto;
    height: 15rem;
    padding: 5rem;
}

h1 {
    background-color: aqua;
    color: red;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding: 1rem 1rem;
}

h1:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

h2 {
    background-color: aqua;
    color: red;
    width: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    border: none;
    padding: .5rem .5rem;
    box-shadow: 0px 0px 10px black;
}

h2:hover {
    background: blue;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}